div.container
  header(class="d-flex flex-wrap justify-content-center py-3 mb-4").navbar.navbar-light.bg-light
    a(href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none").ms-3
      span.fs-4.navbar-brand The Great Carbon Arbitrage

    ul.nav.nav-text
      li.nav-item
        a(href="index.html").nav-link.active Carbon Arbitrage
      li.nav-item
        .dropdown
          a(
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            id="ClimateFinancingDropdown"
          ).nav-link.active.dropdown-toggle Climate Financing
          ul(aria-labelledby="ClimateFinancingDropdown").dropdown-menu
            li
              a.dropdown-item(href="climate_financing_map.html") Country
            li
              a.dropdown-item(href="climate_financing.html") Regional
            li
              a.dropdown-item(href="climate_financing_yearly.html") Annual
      li.nav-item
        a(href="#").nav-link.active Paper
      li.nav-item
        a(href="https://github.com/ox-inet-resilience/carbon_arbitrage_code").nav-link.active Code
      li.nav-item
        a(href="#").nav-link.active Blog
