div.container
  header(class="d-flex flex-wrap justify-content-center py-3 mb-4").navbar.navbar-light.bg-light
    a(href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none").ms-3
      span.fs-4.navbar-brand The Great Carbon Arbitrage

    // This is GDPR-compliant
    // script(async defer src="https://beampipe.io/js/tracker.js" data-beampipe-domain="greatcarbonarbitrage.com")
    // The following has unlimited events
    script(data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer)

    ul.nav.nav-text
      li.nav-item
        a(href="index.html").nav-link.active Carbon Arbitrage
      li.nav-item
        .dropdown
          a(
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            id="ClimateFinancingDropdown"
          ).nav-link.active.dropdown-toggle Climate Financing
          ul(aria-labelledby="ClimateFinancingDropdown").dropdown-menu
            li
              a.dropdown-item(href="climate_financing_map.html") Country
            li
              a.dropdown-item(href="climate_financing.html") Regional
            li
              a.dropdown-item(href="climate_financing_yearly.html") Annual
      li.nav-item
        .dropdown
          a(
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            id="OpportunityCostsDropdown"
          ).nav-link.active.dropdown-toggle Opportunity Costs
          ul(aria-labelledby="OpportunityCostsDropdown").dropdown-menu
            li
              a.dropdown-item(href="opportunity_costs_map.html") Country
            li
              a.dropdown-item(href="opportunity_costs.html") Global
      li.nav-item
        .dropdown
          a(
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            id="paperDropdown"
          ).nav-link.active.dropdown-toggle Paper
          ul(aria-labelledby="paperDropdown").dropdown-menu
            li
              a.dropdown-item(href="https://cepr.org/publications/dp17654") CEPR
            li
              a.dropdown-item(href="https://www.imf.org/en/Publications/WP/Issues/2022/05/31/The-Great-Carbon-Arbitrage-518464") IMF
      li.nav-item
        a(href="https://github.com/ox-inet-resilience/carbon_arbitrage_code").nav-link.active Code
      li.nav-item
        a(href="blogs.html").nav-link.active Blogs
      li.nav-item
        a(href="media.html").nav-link.active Media
      li.nav-item
        a(href="talks.html").nav-link.active Talks
      li.nav-item
