mixin slider(id, label, min, max, step, value)
  div.flex-row
    label(for=id).form-label= label
    // https://stackoverflow.com/questions/10004723/html5-input-type-range-show-range-value
    input(id=id type="range" min=min max=max step=step value=value oninput="this.nextElementSibling.value = this.value; calculate()").form-range.w-80
    |&nbsp;
    output= value

mixin inputSelect(id, label, selected, vals)
  label(for=id).form-label= label
  select(id=id, onchange="calculate()").form-select.w-80
    each val in vals
      - var isSelected = selected == val
      option(selected= isSelected)= val

mixin discountRate
  +inputSelect(
    "discount-rate",
    "Discount rate ρ",
    "2.8% (WACC)",
    ["2.8% (WACC)", "3.6% (WACC, average risk-premium 100 years)", "5%", "8%"]
  )

mixin cfUnit(dollarUnit)
  +inputSelect(
    "requisite-climate-financing-unit",
    "Unit",
    dollarUnit,
    [dollarUnit, "% of GDP"]
  )
